# Dependencies
/vendor/
/node_modules/

# Environment
.env
.env.backup
.env.production

# Editor directories and files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# System files
.DS_Store
Thumbs.db

# Logs
/logs/
*.log

# Composer
composer.phar
